@import '../../styles/variables';
@import '../../styles/mixins';

.main {
  min-height: 100vh;
}

.hero {
  background-color: $color-black;
  color: $color-white;
  padding: 6rem 0 6.5rem;
  text-align: center;

  @include tablet {
    padding: 8.25rem 0 6.5rem;
  }

  @include desktop {
    padding: 6.5rem 0 6.5rem;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  width: 100%;

  @include tablet {
    padding: 0 2.5rem;
  }

  @include desktop {
    padding: 0 10.3125rem;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.15;

  @include tablet {
    font-size: 40px;
  }
}

.products {
  padding: 4rem 0;

  @include tablet {
    padding: 7.5rem 0;
  }

  @include desktop {
    padding: 10rem 0;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;

  @include tablet {
    gap: 7.5rem;
  }

  @include desktop {
    gap: 10rem;
  }
}

